{% extends 'base.html'%}

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}
  <h2 class="text-center"  style="color: white;     font-family: 'Yesteryear', cursive, serif; "><u>Welcome to oneminute-pitch</u></h2>
<body >
  <!-- <div class="container">  -->
    <div class="col-md-4"></div> 
    <div class="d-flex justify-content-center row">
      <div class="card-groups">
        <div class="card border-info mb-3 col-md-4" style="max-width: 35rem;">          
          <div class="card-body">

            <h5 class="card-title" style="color: white;"><u>Interviews Pitch</u></h5>
            <li>
              <a href="">
                  <aside class="dates" style="color: white;">08/12/2017</aside>
              </a>
              <p class="mb0" style="color: white;">Posted by</p>
              <a href="">
                  Beatrice
              </a> 
            <p class="card-text" style="color: white;">“Hi, I’m Tom. I’ve spent the last eight years learning and growing in my role as Media Planner, where I’ve developed and optimized strategic media plans for our top client and managed a subset of planners as a Team Lead. 
				One of my proudest achievements was a pro-bono project that was recognized as a top non-profit campaign last year. 
				I’ve been interested in moving to non-profit for quite a while, and love what your company does in education. 
				Would you mind telling me about any media planning needs you may have on the team?”</p>
            
        <button type="button" class="btn btn-success" style="color: white;"><a href='/comment/<int:pitch_id>'>Comment Pitch</a></button><br><br>
      </div>
		</div>
		</div>
		</div>
	</div>
    
       <div class="col-md-4"></div>
        <div class="card border-info mb-3 col-md-4" style="max-width: 35rem;">         
          <div class="card-body">
            <h5 class="card-title" style="color: white;"><u>Production  Pitch</u></h5>
            <li>
              <a href="">
                  <aside class="dates" style="color: white;">10/23/2016</aside>
              </a>
              <p class="mb0" style="color: white;">Posted by</p>
              <a href="">
                  Pauline
              </a>
            <p class="card-text" style="color: white;"> Although the stars of the studio's movies range from robots to sea life to talking toys, each has a similar story structure at its core.</p><br>
            <li>
              <a href="">
                  <aside class="dates" style="color: white;">09/05/2020</aside>
              </a>
              <p class="mb0" style="color: white;">Posted by</p>
              <a href="">
                  Maxwell
              </a>
            <p class="card-text" style="color: white;"> Once upon a time, staffing agencies struggled to find the quality talent they needed.</p><br>
            <li>
              <a href="">
                  <aside class="dates" style="color: white;">03/10/2019</aside>
              </a>
              <p class="mb0" style="color: white;">Posted by</p>
              <a href="">
                  Adrian
              </a>
            <p class="card-text" style="color: white;"> Every day, they checked a number of social media sites and sifted through dozens of resumes searching for needles in the haystacks.</p><br>
            <li>
              <a href="">
                  <aside class="dates" style="color: white;">01/21/2018</aside>
              </a>
              <p class="mb0" style="color: white;">Posted by</p>
              <a href="">
                  Jermaine
              </a>
            <p class="card-text" style="color: white;"> Until finally, the agencies vastly increased their number of customers and amount of new revenue.</p><br>
            
            <button type="button" class="btn btn-success" style="color: white;"><a href='/'>Comment Pitch</a></button><br><br>
        </div>
        </div>

        <!-- <footer class="registerUser" id="footer" style="color: white;">
          <p class="small">
               Powered by
              <p> © Copyright 2019. One Minute Pitch Application.</p>
      </footer>
       -->

</body>
  {% endblock%}
